@import "grid.scss";
@import "variables.scss";
@import "nav.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: monospace;
}

h2 {
    margin-top: 40px;
    font-size: 40px;
    a {
        color: $black-color;
        text-decoration: none;
    }
    
    a:hover { 
        color: $purple-color;
    }
}

section {
    margin-top: 50px;
}

.card {
    img {
        transition: all ease 0.5s;
        border-radius: 1%;
    }

    img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: $black-color;
    height: 40px;
    text-align: center;
    p {
        color: $white-color;
        font-size: 20px;
    }
}

#categorias {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    .cardC {
        background-color: $black-color;
        color: $white-color;
        width: 310px;
        height: 210px;
        margin: 20px;
        transition: all ease 0.7s;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 0;
        }
    }

    .cardC:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background-color: $purple-color;
        cursor: pointer;
    }
}


#item {
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (5);
    max-width: 100%;

    .info {
        grid-column: 1/7;
        grid-row: 1/1;
        span {
            margin-right: 20px;
            font-size: 25px;
        }
    }

    .sinopse {
        margin-top: 40px;
        grid-column: 1/7;
        grid-row: 2/3;
        p {
            font-size: 20px;
            text-align: justify;
        }
    }

    .info2 {
        margin-top: 40px;
        grid-column: 1/7;
        grid-row: 3/4;
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        label {
            grid-column: 1/2;
            text-align: left;
        }

        span {
            grid-column: 2/7;
            text-align: left;
        }
    }

    .video {
        margin: 50px 80px;
        grid-column: 7/13;
        grid-row: 1/5;
    }
}



